openapi: 3.2.0
info:
  title: Knowi Push Data Pull API
  summary: Push and pull real-time data into Knowi datasets.
  description: The Knowi Push Data API enables real-time data ingestion to and retrieval from Knowi datasets. Send data via HTTP POST to create or update datasets on the fly, and pull data with SQL-like filters for export. API key authentication is used for all requests.
  version: '1.0'
  contact:
    name: Knowi Support
    url: https://www.knowi.com/support
    email: support@knowi.com
servers:
- url: https://www.knowi.com
  description: Knowi Push Data API production server
security:
- ApiKeyAuth: []
tags:
- name: Pull
  description: Retrieve dataset contents.
paths:
  /api/data/{apiKey}:
    get:
      tags:
      - Pull
      summary: Pull dataset
      description: Retrieve records from a Knowi dataset, optionally filtered and exported in a chosen format.
      operationId: pullData
      parameters:
      - name: apiKey
        in: path
        required: true
        schema:
          type: string
        description: API key associated with the target dataset.
      - name: entityName
        in: query
        schema:
          type: string
        description: Dataset name.
      - name: identifier
        in: query
        schema:
          type: string
        description: Dataset ID.
      - name: exportFormat
        in: query
        schema:
          type: string
          enum:
          - csv
          - json
        description: Output format for the response payload.
      - name: c9SqlFilter
        in: query
        schema:
          type: string
        description: SQL WHERE clause used to filter the records returned.
      - name: limit
        in: query
        schema:
          type: integer
        description: Maximum number of records to return.
      - name: optimized
        in: query
        schema:
          type: boolean
        description: When true, returns an optimized response format.
      responses:
        '200':
          description: Dataset records returned.
        '401':
          description: Invalid API key.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
